{% extends "management/cashier/base_cashier.html" %} 
{% load static %} 

{% block body %}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>{{department.name}}</h2>
            <small class="text-muted">Welcome to Polyclinic application</small>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                   
                    <div class="header">
                        <h2>{{department.description}}</h2>
                        <ul class="header-dropdown">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        
                        <div class="table-responsive">
            <table class="table table-striped" >
                <thead>
                    <tr>
                        <th >Patient's names</th>
                    
                        <th>Motif</th>
                        <th>Amount</th>
                        <th>payment_method</th>
                        <th>cashier</th>
                        <th>date of creation</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for department in departments %}
                    <tr style="border: 1px solid white; border-right: 5px solid #095484;">
                        <td class="txt-oflo" style="text-align: center; font-style:italic;" colspan="7"><b>{{department.name}} </b>
                            
                                        {% for payment in payments %}
                                
                                        <tr class="txt-oflo" style=" border: 1px solid white;">
                                            
                                            {% if payment.department == department %}
                                                
                                                <td ><a href="{{payment.get_absolute_url}}" >{{payment.patient.first_name}} {{payment.patient.last_name}}</a></span></td>
                                                <td><span>{{payment.motif}}</span> </td>
                                                <td ><span>{{payment.amount}}</span> </td>
                                                <td ><span>{{payment.payment_method}}</span> </td>
                                                <td ><span>{{payment.cashier}}</span> </td>
                                                <td ><span>{{payment.date_creation}}</span> </td>
                                            
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    
                            
                        </td>
                    </tr>
                    <tr style=" border-bottom: 5px solid #095484;"></tr>
                {% endfor %}
                </tbody>
            </table >
                                       
            <!-- <a href="javascript:void(0);">Check all the sales</a> -->
        </div>
    </div>
    
</div>
</section>   
        {% endblock %}