{% extends "management/serviceReceptionist/base.html" %} 
{% load static %} 

{% block body %}

<section class="content" style="min-height: 700px;">
    <div class="container-fluid">
        <div class="block-header">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><button class="nav-link active"data-toggle="tab" onclick=" javascript:DeleteVisibility1('myappointments', 'allappointments');">MY APPOINTMENTS</button></li>
                <li class="nav-item"><button class="nav-link"data-toggle="tab" onclick="javascript:DeleteVisibility1('allappointments', 'myappointments');">DEPARTMENT'S ALL APPOINTMENTS </button></li>
            </ul> 
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div id="myappointments" class="body" style="display:block;">
                        
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>DOCTOR</th>
                                        <th>PATIENT</th>
                                        <th>DATE</th>
                                        <th>HOUR</th>
                                        <th>STATE</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for appointment in appointments %}
                                        {% if appointment.department == user_department %}
                                        <tr>
                                            <td></td>
                                            <td class="txt-oflo"><a href="{{ appointment.doctor.get_absolute_url }}" style="text-transform: uppercase; color: black;">{{appointment.doctor.first_name}} {{appointment.doctor.last_name}}</a></td>
                                            <td><a href="{{ appointment.patient.get_absolute_url4 }}" style="text-transform: uppercase; color: black;">{{appointment.patient.first_name}} {{appointment.patient.last_name}}</a> </td>
                                            <td class="txt-oflo">{{appointment.date_appointment}}</td>
                                            <td class="txt-oflo">{{appointment.hour_appointment}}</td>
                                            {% if appointment.state == "Non consulté" %}
                                            <td class="txt-oflo"><span style="width: auto; background-color: red;">{{appointment.state}}</span></td>
                                            {% else %}
                                            <td class="txt-oflo">{{appointment.state}}</td>
                                            {% endif %}
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- <a href="javascript:void(0);">Check all the sales</a> -->
                        </div>
                        {% if paginate %}
                                        
                        {% if appointments.has_previous %}
                            <a href="?page={{ appointments.previous_page_number }}">Previous</a>
                        {% endif %}
                        {% if appointments.has_next %}
                            <a href="?page={{ appointments.next_page_number }}" style="float: right;">Next</a>
                        {% endif %}
                    
                        {% endif %}
                    </div>

                    <div id="allappointments" class="body" style="display:none;">
                        
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>DOCTOR</th>
                                        <th>RECEPTIONIST</th>
                                        <th>PATIENT</th>
                                        <th>DATE</th>
                                        <th>HOUR</th>
                                        <th>STATE</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for appointment in allAppointments %}
                                        <tr>
                                            <td></td>
                                            <td class="txt-oflo"><a href="{{ appointment.doctor.get_absolute_url }}" style="text-transform: uppercase; color: black;">{{appointment.doctor.first_name}} {{appointment.doctor.last_name}}</a></td>
                                            <td class="txt-oflo"><span style="text-transform: uppercase;">{{appointment.service_receptionist.first_name}} {{appointment.service_receptionist.last_name}}</span></td>
                                            <td><a href="{{ appointment.patient.get_absolute_url4 }}" style="text-transform: uppercase; color: black;">{{appointment.patient.first_name}} {{appointment.patient.last_name}}</a> </td>
                                            <td class="txt-oflo">{{appointment.date_appointment}}</td>
                                            <td class="txt-oflo">{{appointment.hour_appointment}}</td>
                                            {% if appointment.state == "Non consulté" %}
                                            <td class="txt-oflo"><span class="is_not_active_bg">{{appointment.state}}</span></td>
                                            {% else %}
                                            <td class="txt-oflo">{{appointment.state}}</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                            <!-- <a href="javascript:void(0);">Check all the sales</a> -->
                        </div>
                        {% if paginate %}
                                        
                        {% if allAppointments.has_previous %}
                            <a href="?pageAll={{ allAppointments.previous_page_number }}">Previous</a>
                        {% endif %}
                        {% if allAppointments.has_next %}
                            <a href="?pageAll={{ allAppointments.next_page_number }}" style="float: right;">Next</a>
                        {% endif %}
                    
                        {% endif %}
                    </div>

                    
                </div>
            </div>
        </div>    
    </div>
</section>   
        {% endblock %}