{% extends "management/serviceReceptionist/base.html" %} 


{% load static %} 

{% block body %}

<section class="content home" style="min-height: 700px;">
    
    <div class="container-fluid">
        <div class="block-header">
            <h4 class="mb-0"><strong>Welcome {{serviceReceptionist.first_name}} {{serviceReceptionist.last_name}}</strong></h4>
            <small class="text-muted">Welcome to Polyclinic application</small>
        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-3 col-sm-6" style="text-align: center;">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="icon"> <i class="zmdi zmdi-account col-blue"></i> </div>
                    <div class="content">
                        <div class="text"><h4 style="color: rgba(20, 156, 247, 0.904); text-align: center;">All Department Doctors</h4></div>
                        <div class="number">{{doctorCount}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-6" style="text-align: center;">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="icon"> <i class="zmdi zmdi-account col-blue"></i> </div>
                    <div class="content">
                        <div class="text"><h4 style="color: rgba(20, 156, 247, 0.904); text-align: center;"> Department Receptionists</h4></div>
                        <div class="number">{{serviceReceptionistCount}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-6" style="text-align: center;">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="icon"> <i class="zmdi zmdi-account col-blue"></i> </div>
                    <div class="content">
                        <div class="text"><h4 style="color: rgba(20, 156, 247, 0.904); text-align: center;">All Department Patients</h4></div>
                        <div class="number">{{patientCount}}</div>
                    </div>
                </div>
            </div>
            <br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br />
            
            <!--div class="col-lg-3 col-md-3 col-sm-6">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="icon"> <i class="zmdi zmdi-account col-green"></i> </div>
                    <div class="content">
                        <div class="text">OPD Patient</div>
                        <div class="number">00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="icon"> <i class="zmdi zmdi-bug col-blush"></i> </div>
                    <div class="content">
                        <div class="text">Today's Operations</div>
                        <div class="number">00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="icon"> <i class="zmdi zmdi-balance col-cyan"></i> </div>
                    <div class="content">
                        <div class="text">Hospital Earning</div>
                        <div class="number">$0.0</div>
                    </div>
                </div>
            </div-->
        </div>
	</div>
</section>

{% endblock %}

