th, td, tr {
    border: 5px solid #095484;
  }
  table {
      counter-reset: rowNumber;
  }
  tbody tr {
      counter-increment: rowNumber;
  }
  table tr td:first-child::before {
      content: counter(rowNumber);
  }
.is_active{
    color:aliceblue;
    text-align: center;
    font-weight: bolder;
    margin-left: 1em;
    font-size: large;
  }
.is_not_active{
    color:red; text-align: center;
    font-weight: bolder;
    margin-left: 1em;
    font-size: large;
}
.is_not_active_bg{
    width: auto; 
    background-color: red;
}
.textarea_ordonnance{
    height: 200px;
    border: solid black;
}
.profile{
    width: 100%;
    height: 400px;
}
.profileDash{
    height: 120px;
    width: 150px;
    border-radius: 50px;
    float: left;
}
